* {
  box-sizing: border-box;
}

/* Define the "system" font family */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local('.SFNSText-Light'), local('.HelveticaNeueDeskInterface-Light'),
    local('.LucidaGrandeUI'), local('Ubuntu Light'), local('Segoe UI Light'),
    local('Roboto-Light'), local('DroidSans'), local('Tahoma');
}

body {
  font-family: 'system';
  margin: 1rem;
}

.layout-grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 300px auto;
}

.form-grid {
  display: grid;
  grid-gap: 1rem;
  grid-auto-rows: min-content;
}

h1 {
  margin: 0;
}

fieldset {
  border: 1px dashed #000;
  padding: 1rem;
  margin: 0;

  legend {
    font-size: 0.875rem;
    font-weight: bold;
    padding: 0 0.5rem;
  }

  fieldset {
    margin-top: 0.5rem;
  }
}

input[type='checkbox']:disabled + label {
  color: #bbb;
}
