* {
  box-sizing: border-box;
}

/* Define the "system" font family */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local('.SFNSText-Light'), local('.HelveticaNeueDeskInterface-Light'),
    local('.LucidaGrandeUI'), local('Ubuntu Light'), local('Segoe UI Light'),
    local('Roboto-Light'), local('DroidSans'), local('Tahoma');
}

body {
  font-family: 'system';
  font-size: 16px;
  margin: 1rem;
}

.layout-grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 300px auto;
}

.form-grid {
  display: grid;
  grid-gap: 1rem;
  grid-auto-rows: min-content;
}

h1 {
  margin: 0;
}

fieldset {
  border: 1px dashed #000;
  padding: 1rem;
  margin: 0;

  legend {
    font-size: 0.875rem;
    font-weight: bold;
    padding: 0 0.5rem;
  }

  fieldset {
    margin: 1rem 0;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  table {
    border-collapse: collapse;
    margin-top: 1rem;
    width: 100%;

    thead {
      border-bottom: 1px dashed #000;

      th {
        padding: 0.25rem 0;
      }
    }

    tbody tr:nth-child(odd) {
      background-color: #eee;
    }

    th,
    td {
      text-align: center;
    }
  }
}

input[type='checkbox']:disabled + label {
  color: #bbb;
}
